# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\me.shengeNo1\hzadmin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
